= flash[:notice]
%a{ :name => "TemplateInfo" }
.box
  %h1
    About
    %span.gray
      Me
  %p
    Hi this is Abhishek Shukla, Basically my intension towords creating this application is just to provide a application for attendence and HR application
    With maximum functionality..

.box
  %h1
    Today's
    %span.gray
      Update
  %p
    You can Post a orgination updates here...
    %br
    %ul
      %li
        %a{ :href => "#" } Update-1
      %li
        %a{ :href => "#" } Update-2
      %li
        %a{ :href => "#" } Update-3
      %li
        %a{ :href => "#" } Update-4

.box
  %h1
    Birthday
  %ul
    %li
      %a{ :href => "#" } Abhishek shukla
    %li
      %a{ :href => "#" } Nachiket Ghumare
    %li
      %a{ :href => "#" } Nikhil Kalantre
    %li
      %a{ :href => "#" } Nimesh
    %li
      %a{ :href => "#" } Andy S
    %li
      %a{ :href => "#" } G Rathod
    %li
      %a{ :href => "#" } Raghu Kamat
    %li
      %a{ :href => "#" } Dhaval Shah

.box
  %h1
    New
    %span.gray
      Employee
  %p
    New joiny in the month of Dec 2009
  %ul
    %li
      %a{ :href => "#" } Abhishek shukla
    %li
      %a{ :href => "#" } Nachiket Ghumare
    %li
      %a{ :href => "#" } Nikhil Kalantre
    %li
      %a{ :href => "#" } Nimesh
    %li
      %a{ :href => "#" } Andy S
    %li
      %a{ :href => "#" } G Rathod
    %li
      %a{ :href => "#" } Raghu Kamat
    %li
      %a{ :href => "#" } Dhaval Shah
